/* Step 1: Use asterisk selector */
/* ------------------------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------------------------- */

/* 
color: #e67e22
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Step 2: Use html tag selector to set fonts (family/color/size/weight) and background */
html {
  background: #fff;
  color: #555;

  /* If Lato and Arial is not present, any sans-serif will be used */
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;

  /* font size must be between 15px 25px */
  /* the root font-size may be in fixed unit like pixels but children font size must be in relative units */
  /* if you want to change any other font, you must change the root font which will automatically change other fonts */
  font-size: 20px;

  /* Browser's rendering engine decides how to render text over speed, legitibility and so on */
  /*  text-rendering: optimizeLegibility;  perfectly renders the text*/
  text-rendering: optimizeLegibility;
}

/* ------------------------------------------------------- */
/* REUSABLE COMPONENETS */
/* ------------------------------------------------------- */
.row {
  /* Step 3: Set the max-width for the content. Content will be in a row container*/
  /* Step 4: Center the content */
  max-width: 1140px;
  margin: 0 auto;
}

section {
  /* margin should be used b/w elements but padding is used here for preserving section bg image */
  padding: 80px 0;
}

/* HEADINGS */
h1,
h2,
h3 {
  text-transform: uppercase;
  /* if big heading, then decrease the font-weight */
  font-weight: 300;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

/* Adding content to the HTML from CSS with :after pseudo class*/
/* Always specify content when using :after pseudo class */
h2:after {
  display: block;
  height: 2px;
  background: #e67e22;
  content: " ";
  width: 100px;
  /* text-align: center; doesn't work because there is no content*/
  margin: 30px auto 0;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* ------------------------------------------------------- */
/* FEATURES SECTION */
/* ------------------------------------------------------- */

/* -----------------PARA --------------------------------- */

/* line-height should be b/w 120-145% */
/* whenever you want to center element with margin, you need to reduce the width and calculate the margin */
.long-copy {
  line-height: 145%;
  width: 70%;
  /* margin: 0 auto; */
  margin-left: 15%;
  /* text-align: center; */
}

/* --------------------COLUMNS--------------------------- */
.box {
  padding: 1%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
  /* line-height: 125%;
  text-align: justify; */
}

/* ----------------------ICONS------------------------------ */
.icon-big {
  display: block;
  font-size: 350%;
  color: #e67e22;
  margin-bottom: 10px;
}

/* ------------------------------------------------------- */
/* BUTTONS */
/* ------------------------------------------------------- */

.btn:link,
.btn:visited {
  /* Two types of elements: 
  inline (in the same line, can not set width and height, width & height is as much as the content),
  block (occupies full width of the parent container and forces new line)
  
  If you want to place the element in the same line but be able to change width and height then make it inline-block
  inline-block (in the same line, width and height can be changed)
  */
  display: inline-block;
  /* padding can be in fixed units but fonts must be in relative unit */
  padding: 10px 30px;
  font-weight: 300;
  /* removing udnerline from links */
  text-decoration: none;
  border-radius: 200px;
  /* remove the default blue links */

  /* Animation Prop 2: transition */
  transition: background 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
  background: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active {
  background: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

/* Button/link states:
1. visited
2. active
3. hover
4. link
 */

/* ------------------------------------------------------- */
/* HEADER */
/* ------------------------------------------------------- */

header {
  /* using two background imgs at the same time with linear-gradient */
  /* linear-gradient is used to make the image black-transparent and show the text clearly */
  background-image: linear-gradient(#000000b3, #000000b3), url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  /* height is 100% of viewport, vh stands for viewport height*/
  height: 100vh;
}

.hero-text-box {
  /* Making hero-text-box positioned absolutely (doesn't change no matter what) */
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  /* 1st arg is width and 2nd arg is height */
  /* Animations Prop 1: transform */
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a {
  padding: 8px 0;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  /* divide by root font 18px/20px = 0.9 = 90% */
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
a:active {
  /* text-decoration: underline; */
  border-bottom: 2px solid #e67e22;
}
